@import "../../../styles/variables.scss";

.plus-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: $buttonColour;
  border-radius: 50%;
  &::before {
    content: "";
    display: block;
    background-image: url("../../../img/plus-button.svg");
    background-size: cover;
    width: 60px;
    height: 60px;
  }
  &:hover {
    background-color: $buttonHoverColour;
  }
  &:active {
    background-color: $buttonActiveColour;
  }
}
