.menu-container {
  position: absolute;
  transform-origin: center;
  transform: translate(-50%, 0%);
  z-index: 3;

  & .circle-button {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
    margin: 10px;
  }
}
